In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('Dataset2.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 62 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   DATASET                      236 non-null    object
 1   SERIES_CODE                  236 non-null    object
 2   OBS_MEASURE                  236 non-null    object
 3   COUNTRY.Name                 236 non-null    object
 4   INDEX_TYPE.Name              236 non-null    object
 5   COICOP_1999.Name             236 non-null    object
 6   TYPE_OF_TRANSFORMATION.Name  236 non-null    object
 7   FREQUENCY.Name               236 non-null    object
 8   SCALE.Name                   236 non-null    object
 9   2021                         105 non-null    float64
 10  2021-M01                     106 non-null    float64
 11  2021-M02                     106 non-null    float64
 12  2021-M03                     106 non-null    float64
 13  2021-M04                     105 non-null    float64
 14  2021-M05                     105 non-null    float64
 15  2021-M06                     106 non-null    float64
 16  2021-M07                     106 non-null    float64
 17  2021-M08                     106 non-null    float64
 18  2021-M09                     106 non-null    float64
 19  2021-M10                     106 non-null    float64
 20  2021-M11                     105 non-null    float64
 21  2021-M12                     105 non-null    float64
 22  2022                         106 non-null    float64
 23  2022-M01                     106 non-null    float64
 24  2022-M02                     106 non-null    float64
 25  2022-M03                     106 non-null    float64
 26  2022-M04                     106 non-null    float64
 27  2022-M05                     106 non-null    float64
 28  2022-M06                     106 non-null    float64
 29  2022-M07                     106 non-null    float64
 30  2022-M08                     106 non-null    float64
 31  2022-M09                     106 non-null    float64
 32  2022-M10                     106 non-null    float64
 33  2022-M11                     106 non-null    float64
 34  2022-M12                     106 non-null    float64
 35  2023                         106 non-null    float64
 36  2023-M01                     106 non-null    float64
 37  2023-M02                     106 non-null    float64
 38  2023-M03                     106 non-null    float64
 39  2023-M04                     106 non-null    float64
 40  2023-M05                     106 non-null    float64
 41  2023-M06                     106 non-null    float64
 42  2023-M07                     106 non-null    float64
 43  2023-M08                     106 non-null    float64
 44  2023-M09                     106 non-null    float64
 45  2023-M10                     106 non-null    float64
 46  2023-M11                     106 non-null    float64
 47  2023-M12                     106 non-null    float64
 48  2024                         80 non-null     float64
 49  2024-M01                     106 non-null    float64
 50  2024-M02                     106 non-null    float64
 51  2024-M03                     106 non-null    float64
 52  2024-M04                     106 non-null    float64
 53  2024-M05                     106 non-null    float64
 54  2024-M06                     106 non-null    float64
 55  2024-M07                     106 non-null    float64
 56  2024-M08                     106 non-null    float64
 57  2024-M09                     106 non-null    float64
 58  2024-M10                     106 non-null    float64
 59  2024-M11                     80 non-null     float64
 60  2024-M12                     80 non-null     float64
 61  2025-M01                     80 non-null     float64
dtypes: float64(53), object(9)
memory usage: 114.4+ KB

In [ ]:
df.replace("", pd.NA, inplace=True)

In [ ]:
df.head(100)

,DATASET,SERIES_CODE,OBS_MEASURE,COUNTRY.Name,INDEX_TYPE.Name,COICOP_1999.Name,TYPE_OF_TRANSFORMATION.Name,FREQUENCY.Name,SCALE.Name,2021,...,2024-M04,2024-M05,2024-M06,2024-M07,2024-M08,2024-M09,2024-M10,2024-M11,2024-M12,2025-M01
0,IMF.STA:CPI(3.0.1),NLD.CPI.CP10.IX.M,OBS_VALUE,"Netherlands, The",Consumer price index (CPI),Education,Index,Monthly,Units,NaN,...,111.400000,112.270000,111.950000,111.950000,111.950000,125.070000,125.070000,125.090000,125.090000,125.090000
1,IMF.STA:CPI(3.0.1),NLD.CPI.CP08.IX.A,OBS_VALUE,"Netherlands, The",Consumer price index (CPI),Communication,Index,Annual,Units,78.295000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,IMF.STA:CPI(3.0.1),NLD.CPI.CP10.YOY_PCH_PA_PT.M,OBS_VALUE,"Netherlands, The",Consumer price index (CPI),Education,"Period average, Year-over-year (YOY) percent c...",Monthly,Units,NaN,...,7.228800,7.589842,7.283182,7.283182,7.283182,12.493254,12.493254,12.501124,12.501124,12.289048
3,IMF.STA:CPI(3.0.1),NLD.CPI.CP08.IX.M,OBS_VALUE,"Netherlands, The",Consumer price index (CPI),Communication,Index,Monthly,Units,NaN,...,75.470000,74.510000,73.820000,74.630000,74.110000,74.090000,74.170000,73.840000,73.490000,73.340000
4,IMF.STA:CPI(3.0.1),NLD.CPI.CP03.YOY_PCH_PA_PT.A,OBS_VALUE,"Netherlands, The",Consumer price index (CPI),Clothing and footwear,"Period average, Year-over-year (YOY) percent c...",Annual,Units,1.932696,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,IMF.STA:CPI(3.0.1),NGA.CPI.CP04.YOY_PCH_PA_PT.M,OBS_VALUE,Nigeria,Consumer price index (CPI),"Housing, water, electricity, gas and other fuels","Period average, Year-over-year (YOY) percent c...",Monthly,Units,NaN,...,28.774326,29.628236,30.325659,29.425488,28.057216,28.622816,28.845517,NaN,NaN,NaN
96,IMF.STA:CPI(3.0.1),NGA.CPI.CP09.IX.M,OBS_VALUE,Nigeria,Consumer price index (CPI),Recreation and culture,Index,Monthly,Units,NaN,...,349.682206,351.500000,354.300000,357.200000,359.155195,362.284655,365.552050,NaN,NaN,NaN
97,IMF.STA:CPI(3.0.1),NGA.CPI.CP11.IX.A,OBS_VALUE,Nigeria,Consumer price index (CPI),Restaurants and hotels,Index,Annual,Units,265.298879,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,IMF.STA:CPI(3.0.1),NGA.CPI.CP09.IX.A,OBS_VALUE,Nigeria,Consumer price index (CPI),Recreation and culture,Index,Annual,Units,252.376461,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,IMF.STA:CPI(3.0.1),NGA.CPI.CP12.YOY_PCH_PA_PT.M,OBS_VALUE,Nigeria,Consumer price index (CPI),Miscellaneous goods and services,"Period average, Year-over-year (YOY) percent c...",Monthly,Units,NaN,...,20.877507,20.942249,20.854836,21.492916,21.630196,22.802323,23.819975,NaN,NaN,NaN

In [ ]:
id_vars = ["DATASET", "SERIES_CODE", "OBS_MEASURE", "COUNTRY.Name",
           "INDEX_TYPE.Name", "COICOP_1999.Name", "TYPE_OF_TRANSFORMATION.Name",
           "FREQUENCY.Name", "SCALE.Name"]

df_long = df.melt(
    id_vars=id_vars,
    var_name="Date",
    value_name="Value"
)

In [ ]:
df_long[["Year", "Month"]] = df_long["Date"].str.split("-M", expand=True)
df_long["Month"] = df_long["Month"].fillna("00")  # Para dados anuais
df_long["Date"] = pd.to_datetime(df_long["Year"] + "-" + df_long["Month"], format="%Y-%m", errors="coerce")

In [ ]:
df_netherlands = df_long[
    (df_long["COUNTRY.Name"] == "Netherlands, The") &
    (df_long["FREQUENCY.Name"] == "Monthly")
]

In [ ]:
df.head()

,DATASET,SERIES_CODE,OBS_MEASURE,COUNTRY.Name,INDEX_TYPE.Name,COICOP_1999.Name,TYPE_OF_TRANSFORMATION.Name,FREQUENCY.Name,SCALE.Name,2021,...,2024-M04,2024-M05,2024-M06,2024-M07,2024-M08,2024-M09,2024-M10,2024-M11,2024-M12,2025-M01
0,IMF.STA:CPI(3.0.1),NLD.CPI.CP10.IX.M,OBS_VALUE,"Netherlands, The",Consumer price index (CPI),Education,Index,Monthly,Units,NaN,...,111.4000,112.270000,111.950000,111.950000,111.950000,125.070000,125.070000,125.090000,125.090000,125.090000
1,IMF.STA:CPI(3.0.1),NLD.CPI.CP08.IX.A,OBS_VALUE,"Netherlands, The",Consumer price index (CPI),Communication,Index,Annual,Units,78.295000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,IMF.STA:CPI(3.0.1),NLD.CPI.CP10.YOY_PCH_PA_PT.M,OBS_VALUE,"Netherlands, The",Consumer price index (CPI),Education,"Period average, Year-over-year (YOY) percent c...",Monthly,Units,NaN,...,7.2288,7.589842,7.283182,7.283182,7.283182,12.493254,12.493254,12.501124,12.501124,12.289048
3,IMF.STA:CPI(3.0.1),NLD.CPI.CP08.IX.M,OBS_VALUE,"Netherlands, The",Consumer price index (CPI),Communication,Index,Monthly,Units,NaN,...,75.4700,74.510000,73.820000,74.630000,74.110000,74.090000,74.170000,73.840000,73.490000,73.340000
4,IMF.STA:CPI(3.0.1),NLD.CPI.CP03.YOY_PCH_PA_PT.A,OBS_VALUE,"Netherlands, The",Consumer price index (CPI),Clothing and footwear,"Period average, Year-over-year (YOY) percent c...",Annual,Units,1.932696,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.describe()

,2021,2021-M01,2021-M02,2021-M03,2021-M04,2021-M05,2021-M06,2021-M07,2021-M08,2021-M09,...,2024-M04,2024-M05,2024-M06,2024-M07,2024-M08,2024-M09,2024-M10,2024-M11,2024-M12,2025-M01
count,105.000000,106.000000,106.000000,106.000000,105.000000,105.000000,106.000000,106.000000,106.000000,106.000000,...,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,80.000000,80.000000,80.000000
mean,86.211916,80.846616,81.792998,82.660435,84.356667,85.115306,85.060825,85.809533,86.679063,86.893694,...,126.514483,128.643336,130.700399,132.577935,134.186291,136.523268,138.684910,84.886365,85.376099,86.030517
std,100.824575,95.010068,96.093734,97.216490,98.245878,99.186908,100.063349,101.069242,101.970471,103.481387,...,171.677602,174.937785,178.465281,182.263873,186.159783,190.590005,195.229500,81.078299,81.995810,83.261709
min,-13.313507,-3.797166,-3.823160,-1.726553,-2.107434,-2.325286,-1.538049,-1.567991,-0.835476,-45.165060,...,-14.530273,-13.523984,-12.054782,-8.967217,-7.403031,-5.834776,-6.295948,-4.526068,-3.587906,-2.460434
25%,7.839839,5.884215,5.798943,5.870418,7.223765,6.232246,5.201401,7.814786,8.621566,9.548276,...,8.882562,8.653544,9.060473,9.111537,8.529000,9.305314,9.084147,6.222770,5.894801,5.433957
50%,78.295000,55.089910,56.596948,55.132951,78.700000,76.870000,54.443126,55.175596,54.770939,44.715644,...,57.906026,57.504829,57.274462,57.212005,56.857396,56.724654,56.634123,56.023254,55.427486,54.682162
75%,113.264667,108.967375,109.815000,110.100850,110.990000,111.650000,112.673939,113.646861,114.516150,116.676811,...,156.894775,157.842575,162.473775,163.109300,163.104175,162.749200,162.537125,150.108889,150.699075,150.882739
max,442.132041,411.000773,418.716659,426.651459,430.886982,435.424255,440.256431,444.051328,448.754407,454.379012,...,890.605585,911.000000,934.200000,957.300000,980.064640,1005.931716,1035.467221,271.461851,278.041420,284.012865